@widthTaxonomyCard:25%;
@widthPostCard:20%;

/**
 * Facebook 画像比率
 **/
.ttb-fbrate-o{
	position: relative;
	&:before{
		display: block;
		content: '';
		padding-top: 52%;
	}
	.ttb-fbrate-i{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
}
/**
 * 正方形　画像比率
 **/
.ttb-cube-o{
	position: relative;
	&:before{
		display: block;
		content: '';
		padding-top: 100%;
	}
	.ttb-cube-i{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
}


/**
 * 背景をカバー/中央に
 **/
.ttb-bgcover{
	background-size: cover;
	background-position: center center;
}
/**
 * Display Table/Table-Cell を利用したセンタリング
 **/
.ttb-middle-o{
	height: 100%;
	width: 100%;
	display: table;
	.ttb-middle-i{
		display: table-cell;
		vertical-align:middle;
		height: 100%;
	}							
}

/**
 * ブラウザー表現
 **/
.tax-term-browser{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	.ttb-tax{
		width: @widthTaxonomyCard;
		cursor: pointer;
		padding: 2px;
    	min-width: 150px;
    	box-sizing: border-box;
    	border-radius: 3px;

		.ttb-tax-thumb{
			width:100%;
			height: 100%;
			display:flex;
			flex-direction: column;

			background-position: center center;
			opacity: 0.8;
			background-size:auto 100%;
			transition: all 0.25s ease-in-out;
			border-radius: 5px;
		}
		.ttb-tax-exc{
		    flex-grow: 1;
		    color:rgba(255,255,255,0);
		    transition: all 0.25s ease-out;
		    height: 100%;
		    > div{
		    	padding: 0.5em;
		    }
		}
		.ttb-tax-name-count{
			background-color: rgba(256,256,256,0.8);
			display: flex;
    		flex-direction: row;
        	flex-wrap: nowrap;
        	justify-content: space-between;
        	padding: 0.25em 0;

        	> div {
        		padding: 0 0.5em;
        	}
        	.ttb-tax-count{
        		display: inline-block;
        		background-color: rgba(0,0,0,0.5);
        		color: white;
        		border-radius: 1em;
        		padding:0 0.5em;
        		margin:0 0.25em;
        	}
        	.ttb-tax-name{
        		font-weight: nomal;
        		overflow: hidden;
        		text-overflow: ellipsis;
        		white-space: nowrap;
        		width:100%;
        	}
		}
		
		&:hover{
			background-size:50% auto;
			.ttb-tax-thumb{
				background-size:auto 102%;
				opacity: 1;
			}
			.ttb-tax-exc{
				// Termの説明を表示するときは書き換える
				//background-color: rgba(0,0,0,0.75);
				//color:rgba(255,255,255,1);
			}
			.ttb-tax-name-count{
				.ttb-tax-name{
					text-decoration: underline;
				}
			}
		}
	}
}
/**
 * モーダル表現
 **/
.ttb-modal{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    .ttb-m-close{
    	cursor: pointer;
    }
	.ttb-m-pane{
		margin: 0 auto;
		background-color: white;
		width: 80%;
		max-width: 970px;
		border-radius: 5px;
		box-shadow: 0px 0px 3px brack;
		.ttb-m-header{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: 0.5em 0;
			font-size: 2rem;
			border-bottom: solid 1px rgba(0,0,0,0.125);
			> div{
				margin:0 0.5em;
			}
			.ttb-m-title{
				width: 100%;
			}
		}
		.ttb-m-footer{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			padding: 0.5em 0;
			border-top: solid 1px rgba(0,0,0,0.125);
		}
		.ttb-m-body{
			
		}


    }
}

.ttb-btn{
	display: inline-block;
    padding: 0.5em;
    border-radius: 0.2em;
    &:hover{
    	background: rgba(0,0,0,0.125);
    }
}
.ttb-btn-x{
	color: rgba(0,0,0,0.25);
	&:hover{
		color: rgba(0,0,0,0.6);
	}
}

/**
 * post表現
 **/
.ttb-posts{
	display: flex;
	flex-wrap: wrap;
	.ttb-post{
		cursor: pointer;
		width: @widthPostCard;
		.ttb-post-content{
			padding: 0px;
			border: solid 1px rgba(0,0,0,0.25);
			margin: 1px;
			.ttb-post-thumb{
				height: 100%;
				overflow: hidden;
			}
			.ttb-post-title{
				padding: 0.25em;
				overflow: hidden;
    			text-overflow: ellipsis;
    			white-space: nowrap;
			}
		}

		.ttb-post-exc{
			padding: 0.5rem;
			color:rgba(0,0,0,0);
			transition: all 0.25s ease-in-out;
			font-size: 12px;
			line-height: 1.4em;
		}

		&:hover{
			.ttb-post-content{
				.ttb-post-thumb{
					overflow: auto;
				}
				.ttb-post-title{
					text-decoration: underline;
				}
			}
			.ttb-post-exc{
				background-color: rgba(0,0,0,0.75);
				color:rgba(255,255,255,1);
			}
		}
	}
}

